---
// @ts-ignore
import { Icon } from "astro-icon";

const jobFeatures = [
  {
    title: "Relevant Job Listings Only",
    description:
      "No sifting through irrelevant positions. We filter out the noise and direct your focus towards the best job opportunities.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Tailored to Your Career Interests",
    description:
      "Explore job openings in exciting fields, ranging from startups to established tech leaders, all matched to your career interests.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Choose Your Workplace",
    description:
      "Discover enticing tech job opportunities in dynamic cities or explore numerous remote and flexible roles to suit your work preferences.",
    icon: "bx:bxs-data",
  },
  {
    title: "Transparent Job Descriptions",
    description:
      "We provide clear and concise job descriptions that demystify industry jargon, so you can understand the responsibilities clearly.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Effortless Job Discovery",
    description:
      "Our platform offers automatic job suggestions, efficient search options, and intuitive navigation to simplify your job search process.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Apply, Save, or Skip",
    description:
      "Our job board is supported by a dedicated community of job seekers and employers, offering countless opportunities to apply, save, or skip.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mb-20">
  <div class="mt-8 pb-8">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      Jobs tailored to your preferences
    </h2>
    <p class="text-lg mt-4 text-slate-600">
      Our platform empowers you to find the perfect job that aligns with your
      skills, aspirations, and career goals.
    </p>
  </div>

  <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-8 gap-8">
    {
      jobFeatures.map((item) => (
        <div class="flex gap-4 items-start">
          <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
            <p class="text-slate-500 mt-2 leading-relaxed">
              {item.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</div>
