---
// @ts-ignore
import JobCard from "./ui/jobCard.astro";
import Link from "./ui/link.astro";
import jobImg1 from "@assets/sales.png";
import jobImg2 from "@assets/sales2.jpeg";

const featuredJobs = [
  {
    imageSrc: jobImg1.src,
    altText: "Job 1",
    title: "Frontend Engineer",
    company: "Melkins",
    location: "Remote",
    applyLink: "#apply-link-1",
    jobType: "Full-time",
    salary: "9000 USD",
  },
  {
    imageSrc: jobImg2.src,
    altText: "Job 2",
    title: "Frontend Engineer",
    company: "Melkins",
    location: "Remote",
    applyLink: "#apply-link-2",
    jobType: "Full-time",
    salary: "9000 USD",
  },
];
---

<div class="bg-black py-12 px-4 rounded-lg mb-16 md:mb-20">
  <div class="container mx-auto px-4">
    <div
      class="flex md:justify-between items-start gap-5 mb-8 flex-col md:flex-row">
      <h2 class="text-2xl font-semibold text-white">Featured Jobs✨</h2>
      <!-- Feature Your Jobs Button -->
      <Link href="#" style="outline">Feature Your Jobs</Link>
    </div>

    <!-- Job Card Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      {featuredJobs.map((job, index) => <JobCard {...job} key={index} />)}
    </div>
  </div>
</div>
