<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Globely. All rights reserved.
  </p>
  <p class="text-center text-xs mt-1">
    Made with <a
      target="_blank"
      rel="noopener"
      style="color: red;"
      class="hover:arrow">
      ❤️</a
    >
  </p>
</footer>
