---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Sprite } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center mt-16 mb-8 md:mt-12 md:mb-20">
  <div class="order-2 py-10 md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div class="order-1">
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Find your dream job with ease.
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Discover thousands of job opportunities tailored to your skills and
      preferences. Your next career move is just a click away.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        Explore Jobs
        <Sprite class="text-white w-5 h-5" name="radix-icons:arrow-right" />
      </Link>
    </div>
  </div>
</main>
